*{
    background-color: rgb(247, 247, 247);
}
h1{
    text-align: center;
    margin-top: 20%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 10vh;
    
}

